<div class="footer">
    <div class="d-flex justify-content-center footer-content">
        <div class="socials">
            <div class="socials-heading">
                <h5 class="text-underline footer-sections">Socials</h5>
            </div>
            <div class="instagram">
                <a href="https://instagram.com/arch.divya_mahale?igshid=ZDdkNTZiNTM="class="socials-tags underline">Instagram</a>
            </div>
            <div class="linkdin">
                <a href="linkedin.com/in/divya-patharkar"class="socials-tags underline">Linkedin</a>
            </div>
            <div class="twitter">
                <a href=""class="underline socials-tags">Twitter</a>
            </div>
            <div class="facebook">
                <a href=""class="underline socials-tags">Facebook</a>
            </div>
            <div class="youtube">
                <a href="" class="underline socials-tags">Youtube</a>
            </div>
        </div>
        <div class="contact">
            <div class="contact-heading">
                <h5 class="text-underline footer-sections">Contact</h5>
            </div>
            <div class="d-email">
                <a href="/contact" class="socials-tags underline">Contact Us</a>
            </div>
        </div>
    </div>
    <hr><br>

    <h2><strong class="divya">DesignX Solutions</strong></h2>
    <div class="icons d-flex justify-content-center">
        <div class="instagram-i mx-2">
            <i class="fa-brands fa-instagram fa-xl"></i>
        </div>
        <div class="linkdin-i mx-2">
            <i class="fa-brands fa-linkedin fa-xl"></i>
        </div>
        <div class="twitter-i mx-2">
            <i class="fa-brands fa-twitter fa-xl"></i>
        </div>
        <div class="facebook-i mx-2">
            <i class="fa-brands fa-facebook fa-xl"></i>
        </div>
        <div class="youtube-i mx-2">
            <i class="fa-brands fa-youtube fa-xl"></i>
        </div>
        <div class="youtube-i mx-2">
            <i class="fa-brands fa-telegram fa-xl"></i>
        </div>
    </div>

    <br><hr>
    <p class="copyright">All rights Reserved By Divya S. Mahale &copy</p>
    
    
</div>








<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>