<%- include("partials/header"); -%>
<div class="contact-container">
    <div class="main-form">
        <div class="first-section">
            <div>
                <img src="/images/contactUs.jpeg" class="contact-us-img"alt="contact">
            </div>
            <div class="contact-text">
                <p>Looking for more information ?Submit your information will follow up with you as soon as possibile.</p>
            </div>
        </div>
        <div class="contact-form">
            <h1>Get in touch</h1>
            <p>Fields that are mark with an asterisk(*) are required</p>
            <!-- <form target="_blank" action="https://formsubmit.co/arch.divyamahale@gmail.com" method="POST"> -->
              <form target="_blank" action="https://formsubmit.co/pratikrpotdar@gmail.com" method="POST">
              <div class="">
                <div class="name-section">
                    <div class="div-fname">
                        <h3 class="labels">First Name<sup>*</sup></h3>
                        <input type="text" name="fname" class="fname" placeholder="e.g. Abhishek" required>
                      </div>
                      <div class="div-lname">
                        <h3 class="labels">Last Name<sup>*</sup></h3>
                        <input type="text" name="lname" class="lname" placeholder="Mahale" required>
                      </div>
                </div>
                <div class="phone-section">
                    <div class="div-phone">
                        <h3 class="labels">Phone Number<sup>*</sup></h3>
                        <input type="tel" name="phone" class="phoneNo" placeholder="+91888 888 0000" required>
                    </div>
                      <div class="div-whatsapp">
                        <h3 class="labels">What's App<sup>*</sup></h3>
                        <input type="tel" name="phone" class="email" placeholder="+91888 888 0000" required>
                      </div>
                </div>
                <div class="mail-course-section">
                  <div class="div-mail">
                      <h3 class="labels">Email<sup>*</sup></h3>
                      <input type="email" name="email" class="phoneNo" placeholder="name@gmail.com" required>
                  </div>
                    <div class="div-course">
                      <label class="labels"><h3>Course<sup>*</sup></h3></label><br>
                      <select id="" name="courses">
                        <option>Sketchup with Vray</option>
                        <option>3dsmax with Vray</option>
                        <option>Revit Architecture</option>
                        <option>Revit Structure</option>
                        <option>AutoCAD</option>
                        <option>Staddpro</option>
                        <option>Etab</option>
                        <option>Photoshop</option>
                      </select>
                    </div>
              </div>

                
              </div>
              <div class="feedback">
                <h3 class="labels">Your Message<sup>*</sup></h3>
                <textarea placeholder="Your Message" class="form-control" name="message" rows="5"required></textarea>
              </div>

              <input type="hidden" name="_captcha" value="false">
              <button type="submit" id="contact-submit" class="submit btn btn-outline-primary">Submit</button>
            </form>
          </div>
    </div>
</div>
<div class="contact-footer">
    <%- include("partials/footer"); -%>
</div>


