<%- include("partials/header"); -%>
    <div class="courses-container">
        <div class="course-cards row">
            <div class="course col">
                <img src="/images/autocad.jpeg" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">Autodesk Autocad</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col ">
                <img src="/images/3dsMax.jpeg" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">3ds Max</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col sketchUp">
                <img src="/images/sketchUp.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">SketchUp Pro</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/revitArchitect.jpg" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">BIM(Building Information Modelling) using Autodesk Revit Architecture</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/revitStructure.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">BIM(Building Information Modelling) using Autodesk Revit Structure</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <hr class="visibility">
            <div class="course col">
                <img src="/images/revitMep.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">BIM(Building Information Modelling) using Autodesk Revit MEP</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/etab.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">Structural Design and Analysis using Etabs</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/stadpro.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">Structural Design and Analysis using Staad.Pro </h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/VRay.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">V Ray</h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            <div class="course col">
                <img src="/images/photoshop.png" class="course-images" alt="">
                <div class="course-body">
                    <h5 class="course-title">Photoshop </h5>
                    <a href="/contact" class="underline courses-contact-us">Contact Us</a>
                </div>
            </div>
            

        </div>
    </div>
    <%- include("partials/footer"); -%>