<%- include("partials/header"); -%>
    <div class="top-section">
        <img src="/images/homePage1.jpeg" class="home-page" alt="">
        <!-- about us -->
    </div>
    <div class="about-us">
        <div class="about">
            <img src="/images/aboutUs.jpg" class="about-img" alt="aboutUs">
        </div>
        <div class="about-content">

            <div class="list">
                <div class="heading-about-us">
                    <h1 class="abt-us-heading">About Us</h1>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">We providing all Online training courses and educate students in the field of
                        Architect,Civil and BIM technology from last 4 year. also try to practices the students to apply
                        there skills on live project during course completion.</p>
                </div>
                <div class="read-more-div">
                    <a href="/about" class="read-more-tag underline">Read More..</a>
                </div>
            </div>

        </div>
    </div>


    <!-- courses -->
    <div class="courses-section d-flex">
        <div class="courses d-flex">
            <img src="/images/courses.jpeg" class="courses-img" alt="courses">
        </div>
        <div class="course-content">
            <div class="list">
                <div class="heading-about-us">
                    <h1 class="abt-us-heading">Why Join Here!</h1>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">● All live online classes available.</p>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">● Individuals training
                    </p>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">● Flexible timing
                    </p>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">● Get the recorded class for lifetime access
                    </p>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc"> ● Doubt clearing session also available at the end of course
                    </p>
                </div>
                <div class="list-item">
                    <p class="abt-us-desc">● Work on own live project during course completion.</p>
                </div>

                <div class="read-more-div">
                    <a href="/courses" class="read-more-tag underline">Read More..</a>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonials -->
    <h1 class="d-flex justify-content-center test-heading">Testimonials</h1>
    <section class="testimonials d-flex">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <!-- <img src="/images/women.jpeg" class="user"> -->
                        <blockquote><i>"You prepare people to carry out skills in the real world. Keep up the good work.
                                What I have learned in this course, I will be able to apply in the real world."</i>
                        </blockquote>
                        <h3><span> Sakshi Naik</span> (SketchUp with VRay)</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <!-- <img src="/images/women.jpeg" class="user"> -->
                        <blockquote><i>" I would like to thank you for your support.The
                                full course i studied was amazing.Now I'am able to desing in 3D."</i>
                        </blockquote>
                        <h3>Shruti<span> (Revit Architecture)</span> </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <!-- <img src="/images/women.jpeg" class="user"> -->
                        <blockquote><i>"I really enjoyed the class and felt the challenge. It built confidence. I look
                                forward to taking another class in the future. Thanks for this wonderful on-line
                                opportunity."</i>
                        </blockquote>
                        <h3><span>Sudip Rakshit (Sketchup with V-Ray)

                            </span> </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <!-- <img src="/images/women.jpeg" class="user"> -->
                        <blockquote><i>"I am satisfied with the training given by instructors. The faculty was able to
                                clear my doubts regarding design process followed in the industry and provide real life
                                examples"</i>
                        </blockquote>
                        <h3><span>Kunal (Staddpro)</span> </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>






























    <!-- <script src="/js/index.js"></script> -->
    <!-- <script>
        // TODO code to consume REST API. This API will return the list of testimonials.
        var list = ["Testimonial 1", "Testimonial 2", "Test 3", "Tst 4"];
        var div = document.getElementById("#carousel-inner");

    </script> -->
    <%- include("partials/footer"); -%>