<%- include("partials/header"); -%>
<!-- <div class="project-images">
    <div class="pro-img">
        <img class="image"src="/images/Project/1.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/2.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/3.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/4.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/5.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/6.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/7.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/8.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/9.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/10.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/11.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/12.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/13.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/14.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image"src="/images/Project/15.jpg" alt="img1">
    </div>
    <div class="pro-img">
        <img class="image bottom-img"src="/images/Project/16.jpg" alt="img1">
    </div> -->

<script src="/js/index.js"></script>
</div>
<%- include("partials/footer"); -%>