.footer{
    background-color: #579BB1; 
    height: auto;
    padding: 1rem;
    justify-content: center;
}
a{
    text-decoration: none;
}

.divya{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact{
    margin-left: 4.3rem;    
    float:right;
}
hr{
    width:5rem;
    margin:auto;
}
.text-underline{
    text-decoration:underline ;
    margin-bottom: 10px;
}
.copyright{
    margin:1.5rem 1rem 4rem 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-tags{
    color: black;
    font-weight: 400;
    opacity: 85%;
}

.Web-name{
    font-weight: bolder;
    font-size:xx-large;
    padding: 1px;
}
.footer-sections{
    font-weight: bold;
}
.nav-item{
    font-weight: 700;
    opacity: 80%;
}
.cont-number{
    display: flex;
}