.top-section {
    display: flex;
    height: 100vh;
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
}

.home-page {
    width: 100%;
}

.about-us {
    padding: 1rem;
    height: auto;
    display: flex;
    flex-flow: column;
    /* background-color: #E1D7C6; */
    align-items: center;
}

.list {
    padding-left: 1rem;
}

.about-img {
    max-width: 20rem;
    margin-bottom: 0.7rem;
}

.read-more-tag {
    text-decoration: none;
    color: black;
}

.abt-us-heading {
    font-weight: bolder;
    color: black;
}

.abt-us-desc {
    font-weight: 400;
    opacity: 85%;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.courses-section {
    flex-direction: column;
}

.courses {
    padding: 1rem;
    width: 100%;
    justify-content: center;
}

.courses-img {
    width: 90%;
}

.course-content {
    padding: 1rem;
}

/* testimonials */
.testimonials{
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}
.container{
    width: 95%;
    margin-top: -25%;
}
.test-heading{
    margin-bottom: 20%;
    font-weight: 600;
}
.user {
    max-width: 10rem;
}

.testimonials .row {
    margin-top: 30px;
}

.col-md-4 {
    margin: 40px auto;
    width: 100%;
}

.profile {
    padding: 10px;
    background-color: #efefef;
    width:100%;
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media screen and (min-width:900px) {
    .about-us {
        display: flex;
        flex-flow: row;
    }

    .about-img {
        min-width: 40rem;
        height: auto;
        margin: 2rem 2rem 2rem 1rem;
    }

    .about-content {
        margin-top: -11rem;
        padding-right: 1rem;
    }


    .courses-section {
        flex-direction: row-reverse;
    }

    .courses {
        width: 50%;
    }

    .courses-img {
        width: 40rem;
    }

    .course-content {
        width: 50%;
    }
    .testimonials{
        flex-direction: row;
    }
    .test-heading{
        margin-bottom: 22%;
    }
}